.display-table {
    margin-top: 20px;
    padding: 20px 0;
}
.card-container {
    width: 330px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 0px 0px 15px 1px rgb(255 255 255 / 60%)
}

.card-container img {
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-container span {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}

.card-container p {
    margin-bottom: 6px;
    /* margin-bottom: 8px; */
}

.anime-list-img {
    margin: 0 auto;
    margin-top: 30px;
}

.not-found-animes {
    padding: 52vh 0;
}

.info {
    margin-left: 10px;
}