.modal-content{
    background-color: #575757 !important;
}
.edit-inner{
    background-color: blue;
}

.edit-btn-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.edit-btn{
    /* margin: 0 auto;
    margin-top: 10px; */
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 1;
    transition: 0.3s;
    transition-property: opacity;
}

.edit-btn:hover{
    opacity: 0.7;
    transition: 0.3s;
    transition-property: opacity;
}

.edit-btn:active{
    background-color: blue;
    transition: 0.3s;
    transition-property: background-color;
}