.header{
    height: 75px;
    z-index: 1;
    position: sticky;
    /* background-color: #074D8E; */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(62 62 62) 50%, rgba(0,0,0,1) 100%);
    box-shadow: 0px -5px 8px 7px rgba(255, 255, 255, 0.3);
}

.container-header{
    width:  1260px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: block;
    width: 100px;
    padding: 14px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.logo a{
    color: inherit;
    text-decoration: none;
}

.logo a:hover{
    color: inherit;
}

.header-top{
    margin-top: 7px;
}

.header-btn{
    padding: 6px 15px;
    border: 1px solid black;
    opacity: 1;
    transition: 0.3s;
    transition-property: opacity;
}

.header-btn:hover{
    opacity: 0.7;
    transition: 0.3s;
    transition-property: opacity;
}

.header-btn a{
    color: inherit;
    text-decoration: none;
}

.header-btn a:hover{
    color: inherit;
}

.header-btn-login{
    background-color: rgb(134, 128, 128);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 00px;
}

.header-btn-signup{
    background-color: rgb(56, 56, 56);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.admin-login-btn{
    position: absolute;
    top: 18px;
    background-color: black;
    color: white;
    transition: 0.9s;
    transition-property: color, background-color;
}

.admin-login-btn:hover{
    background-color: white;
    color: black;
    transition: 0.9s;
    transition-property: color, background-color;
}
