.navbar-toggler{
    background-color: blueviolet;
}

.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none !important;
}

.navbar-collapse{
    position: absolute;
}

.nav-item{
    background-color: inherit;
}

.menu{
    /* right: 0; */
}
.menu-inner{
    display: flex;
    justify-content: flex-end;
}
.navbar-nav{
    /* flex-direction: inherit !important; */
    display: inline-flex !important;
}
.navbar-collapse{
    background-color: white;
}
.block-inner {
    padding: 10px;
}
.right-style{
    flex-direction: inherit !important;
}