.sign-log{
    width: 400px;
    margin: 0 auto;
    margin-top: 25vh;
    padding: 20px;
    background-color: cornflowerblue;
}

.modal-admin-login{
    text-align: center;
}
.admin-login > form {
    display: inline-grid;
}

.admin-login > form > input, button {
    margin-bottom: 10px !important;
    padding: 6px;
    border-radius: 10px;
    outline: none;
    
}

.admin-login > form > input{
    color: black;
    transition: 0.3s;
    opacity: 1;
    transition-property: opacity;

}

.admin-login > form > input:hover{
    transition: 0.3s;
    opacity: 0.8;
    transition-property: opacity;
}

.admin-login > form > input:focus{
    transition: 0.3s;
    opacity: 1;
    transition-property: opacity;
}