@media(max-width: 1260px){
    .main{
        background-size: cover !important;
    }
    .container-header{
        width: auto !important;
    }
    .container-main{
        width: auto !important;
    }

    .anime-page{
        width: 1140px !important;
    }

    .anime-top-info {
        width: 420px !important;
    }
}

@media(max-width: 1200px){
    .anime-page{
        width: 1020px !important;
    }
    
    .anime-top-info {
        width: 310px !important;
    }
}

@media(max-width: 1060px){
    iframe{
        width: 320px !important;
        height: 200px !important;
    }

    .anime-page{
        width: 910px !important;
    }
    
    .anime-top-info {
        width: 280px !important;
    }
    
}

@media(max-width: 940px){
    .anime-page{
        width: auto !important;
    }

    .anime-page-top{
        display: grid !important;
    }
    .anime-page > anime-page-top > img {
        margin: 0 auto;
        margin-top: 30px;
    }

    .anime-top-info{
        width: 305px !important;
        margin: 0 auto;
    }

    .iframe-container{
        position: static;
        margin: 0 auto;
    }

    .page-anime-info{
        width: 320px !important;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}


@media(max-width: 715px){
    .main{
        background-size: cover !important;
    }
    .genres-menu{
        flex-direction: none !important;
    }
}

@media(max-width: 500px){
    .anime-page{
        padding: 0 !important;
    }
}


/* 
.container-main{
    width: auto;
} */